{% extends 'layouts/base.html' %}
{% load static %}
        <!-- Start Slider Area  -->
        {% block slider %}  
        <div class="slider-area slider-style-6 shape-left inheader-not-transparent height-750">
            <div class="container">
                <div class="row row--30 align-items-center">
                    <div class="order-2 order-lg-1 col-lg-6 mt_md--50 mt_sm--50 mt_lg--30">
                        <div class="inner text-left">
                            <h1 class="title color-white mb-3 h3">Welcome to.</h1>
                            <img class="radius-small mb-3" src="{{site_data.logo}}" alt="{{site_data.name}}" title="{{site_data.name}}">
                            <p class="description color-white">We stand out from the competition with our dedication to customer satisfaction, innovation, and ethical business practices.</p>
                            <div class="button-group mt--30 mt_sm--20">
                                <a class="btn-default btn-medium btn-icon btn-border" href="{% url 'sincehence_core:contact' %}">Contact Us<i class="icon feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 d-none d-lg-block">
                        <div class="video-btn">
                            <div class="video-popup icon-center">
                                <div class="overlay-content">
                                    <div class="thumbnail"><img class="radius-small" src="{% static 'ytb_new.png' %}" alt="Home Youtube Image" title="Home Youtube Image"></div>
                                    <div class="video-icon">
                                        <a class="btn-default rounded-player popup-video" href="https://www.youtube.com/watch?v=ySavzvuvTIE">
                                            <span><i class="feather-play"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="video-lightbox-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-image"><img src="{% static 'assets/images/banner/white-shape.svg' %}" alt="Home Banner Images" title="Home Banner Images" style="height:100%;"></div>
        </div>

        
     
        {% endblock %}
        <!-- End Slider Area  -->

    

        <!-- Start About Area  -->
        {% block about %}  

        <div class="rainbow-about-area rainbow-section-gap">
            <div class="container">
                <div class="row row--30 align-items-center">
                    <div class="col-lg-5">
                        <div class="thumbnail" data-sal="slide-right" data-sal-duration="800">
                            <img class="w-100" src="{% static 'about_us.png' %}" alt="About Us" title="About Us">
                        </div>
                    </div>
                    <div class="col-lg-7 mt_md--40 mt_sm--40">
                        <div class="content" data-sal="slide-left" data-sal-duration="800">
                            <div class="section-title">
                                <h2 class="title">SinceHence LTD <br>
                                    <span class="header-caption">
                                        <span class="cd-headline clip is-full-width">
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible theme-gradient">Innovative.</b>
                                                <b class="is-hidden theme-gradient">Quality-driven.</b>
                                                <b class="is-hidden theme-gradient">Empowering.</b>
                                            </span>
                                    </span>
                                    </span>
                                </h2>                              

                                <p>Welcome to SinceHence!</p>

                                <p>At SinceHence, we believe that the past shapes our future, and every moment holds the promise of something extraordinary. Our brand name, derived from the merging of 'since' and 'hence,' embodies this timeless essence.</p>

                                <p>SinceHence is more than just a brand; it's a reflection of our commitment to quality, innovation, and inspiring products. We are a proud UK-based company, incorporated as SINCEHECNE LTD, with a passion for delivering excellence in everything we do.</p>

                                <p>Our diverse range of products, carefully curated under classes 21, 25, and 30, speaks to our dedication to meet the needs of our discerning customers. Whether it's household essentials, stylish apparel, or delightful treats, we've got you covered.</p>

                                <p>As we embark on this exciting journey, our initial focus lies on classes 21 and 25. Our products in these categories are designed to elevate your everyday experiences, adding a touch of elegance and convenience to your life.</p>

                                <p>As part of our commitment to outstanding service, we have chosen to partner with Amazon FBA to provide you with a seamless shopping experience. Rest assured that your orders will be handled with care and delivered with efficiency.</p>

                                <p>At SinceHence, we strive to foster lasting connections with our customers, guided by trust and satisfaction. Our mission is to make every moment count, and we invite you to join us on this extraordinary adventure.</p>

                                <p>Thank you for choosing SinceHence. Together, let's embrace the past, seize the present, and embark on a journey to an even brighter future.</p>

                                <p>Welcome to the world of SinceHence - Where Timeless Elegance Meets Modern Convenience.</p>



    
    
    
    
                                
                                
                                <div class="read-more-btn mt--40">
                                    <a class="btn-default" href="{{about_us_link}}">
                                        <span>More About Us</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        {% endblock %}
        <!-- End About Area  -->

        <!-- Start Service Area  -->
        {% block service_area %}  

        <div class="rainbow-service-area rainbow-section-gap ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                            <h4 class="subtitle ">
                                <span class="theme-gradient">Catering to Your Needs: What We Can Do for You</span>
                            </h4>
                            <h2 class="title w-600 mb--20">Unparalleled Services Tailored to Your Needs.</h2>
                            <p class="description b1">At SINCEHENCE LTD, we are dedicated to providing exceptional services tailored to your needs. From retailing high-quality products on the Amazon marketplace to offering expert IT consultancy, data processing, and wholesale trade solutions, we have you covered.
                                <br>Experience convenience, expertise, and support with SINCEHENCE LTD. Explore our services today and let us help you achieve your goals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row--15 service-wrapper">
                    {% for service in services %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex" data-sal="slide-up" data-sal-duration="700">
                            <div class="service gallery-style text-left flex-fill">
                                <div class="inner">
                                    <div class="content">
                                        <h4 class="title">
                                            {{ service.title }}
                                        </h4>
                                        <p class="description">{{ service.body }}</p>
                                    </div>
                                    <div class="image">
                                        <img src="{{ service.image.url }}" alt="{{ service.title }}" title="{{ service.title }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
    
                    
                </div>
            </div>
        </div>

        {% endblock %}
        <!-- End Service Area  -->               
        

        <!-- Start Testimonial Area  -->
        {% block mission %}   

        <!-- Start Company Mission Area  -->
    <div class="rainbow-company-mission-are rainbow-section-gap">
        <div class="container">
            <div class="row row--30">
                <div class="col-lg-7">
                    <div class="mission-title" data-sal="slide-right" data-sal-duration="800">
                        <h2 class="title">Our Mission <br>
                            <span class="header-caption">
                                <span class="cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible theme-gradient">Enrich.</b>
                                        <b class="is-hidden theme-gradient">Foster.</b>
                                        <b class="is-hidden theme-gradient">Engage.</b>
                                    </span>
                            </span>
                            </span>
                        </h2>
                        
                        <p>At SinceHence, our mission is to curate an exquisite selection of premium products that elevate your everyday experiences, adding a touch of timeless elegance and modern convenience to your life. We believe in celebrating the significance of each moment, drawing inspiration from the past while embracing the endless possibilities of the future.</p>

                        <p>Through our thoughtfully curated collection, we aim to inspire and enrich lives, making every moment truly special. Whether you're looking for elegant household essentials, stylish apparel, or delightful treats, we have carefully chosen products that reflect our dedication to excellence and craftsmanship.</p>

                        <p>Our commitment extends beyond providing exceptional products; it lies in creating lasting connections with you, our valued customers. Trust and satisfaction are at the heart of our brand, and we strive to exceed your expectations with every interaction.</p>

                        <p>As we embark on this extraordinary journey, we invite you to be a part of the SinceHence community, where elegance meets convenience, and inspiration abounds. Together, let's cherish the past, embrace the present, and welcome an extraordinary future.</p>

                        <p>Discover the essence of SinceHence – Where Timeless Elegance Meets Modern Convenience. Shop now and make every moment count!</p>
                        
                        
                        
                        <div class="read-more-btn mt--50"><a class="btn-default btn-icon" href="{{about_us_link}}">Learn More <i
                                    class="icon feather-arrow-right"></i></a></div>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="thumbnail" data-sal="slide-left" data-sal-duration="800">
                        <img class="w-100" src="{% static 'mis.png' %}" alt="Our Mission" title="Our Mission">
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- End Company Mission Area  -->
 
        {% endblock %}
        <!-- End Testimonial Area  -->

        

        <!-- Start Blog Area  -->
        {% block blog %}    
        <!-- Start Blog Area  -->
        <div class="blog-area rainbow-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                            <h4 class="subtitle "><span class="theme-gradient">Latests News</span></h4>
                            <h2 class="title w-600 mb--20">Our Latest News.</h2>
                            <p class="description b1">
                                Stay informed and up-to-date with our latest news section. Here, we bring you the most recent updates, announcements, and insights about SINCEHENCE LTD. 
                                Discover exciting product launches, industry trends, expert opinions, and success stories from our valued customers. 
                                Whether it's new partnerships, upcoming events, or innovative solutions, this section is your go-to resource for staying connected with our dynamic company. 
                                Check back regularly to stay in the loop and be the first to know about our latest developments.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row--15">
                    {% for ln in latest_news %}
                    <div class="col-lg-4 col-md-6 col-12 mt--30 d-flex" data-sal="slide-up" data-sal-duration="700">
                        <div class="rainbow-card box-card-style-default flex-fill">
                            <div class="inner">
                                <div class="thumbnail"><a class="image" href="{{ln.get_absolute_url}}"><img src="{{ln.feature.url}}" alt="{{ln.title}}" title="{{ln.title}}"></a></div>
                                <div class="content">
                                    <ul class="rainbow-meta-list">
                                        <li><a href="{% url 'sincehence_core:user_blogs' ln.creator.username %}">{{ln.creator.username}}</a></li>
                                        <li class="separator">/</li>
                                        <li>{{ln.updated_at|date:"F j, Y" }}</li>
                                    </ul>
                                    <h4 class="title"><a href="{{ln.get_absolute_url}}">{{ln.title}}.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Blog Area  -->    

        {% endblock %}
        <!-- End Blog Area  -->
        

